<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Agenda de Estudos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/agenda.css') }}">
</head>
<body>
    <h1>Agenda de Estudos de {{ usuario.nome }}</h1>

    <div class="contadores"> 
        
       
        <a href="/agenda?filtro=todos" class="contador">
            <span>📚</span>
            <strong> {{ total_estudos}} </strong>
            <small>Total</small>
        </a>

        <a href="/agenda?filtro=concluidos" class="contador">
            <span>✅</span>
            <strong> {{ estudos_concluidos }} </strong>
            <small>Concluídos</small>
        </a>

        <a href="/agenda?filtro=pendentes" class="contador">
            <span>⏳</span>
            <strong> {{ estudos_pendentes }}</strong>
            <small>Pendentes</small>
       </a>
    </div>

    <a href="/logout"> Sair</a>
    <!-- Filtros -->


    <h2> Adicionar Estudo </h2>
    
    <form action= "/adicionar_estudo" method= "POST">
        <label for="materia"> Matéria: </label>
        <input type="text" 
                    id="materia" 
                    name="materia" 
                    placeholder="Ex: Matemática" required>

        <br><br>

        <label for="descricao"> Descrição: </label>
        <input type ="text"
               id="descricao" 
               name="descricao" 
               placeholder="Ex: Prova de Matematica">

        <br><br>

        <label for="data"> Data: </label>
        <input type="date" 
               id="data" 
               name="data">

        <br><br>

        <label for="secao"> Seção/Tipo: </label>
        <input type="text" 
               id="secao" 
               name="secao" 
               placeholder="Ex: Faculdade, Música, etc.." required>

        <br><br>

        <button type="submit"> Adicionar estudo </button>
    </form>

    <hr>

    <h2> Meus Estudos </h2>

    {% if estudos %}

        {% for estudo in estudos %}

            <div class ="card-estudo">
                {% if estudo.atrasado %}
                    <span class="atrasado">⚠️ ATRASADO</span>
                {% endif %}

                <h3>{{ estudo.materia }}</h3>

                <p>{{ estudo.descricao }}</p>

                <p> 📅 Data: {{ estudo.data }} </p>

                <p> 📁 {{estudo.secao }}</p>

                {% if estudo.concluido %}
                    <p class="status-concluido">Concluído</p>
                {% else %}
                    <p class="status-pendente">Pendente</p>
                {% endif %}

                {% if not estudo.concluido %}
                    <form action="/concluir_estudo/{{ estudo.id }}" method= "POST">
                        <button type="submit"> Marcar como concluído </button>
                    </form>
                    {% endif %}

                    <a href="/editar_estudo/{{ estudo.id }}">✏️ Editar</a>

                    <form action="/excluir_estudo/{{ estudo.id }}" method="POST">
                        <button type="submit"> 🗑️ </button>
                    </form>
                </div>

            <hr>

        {% endfor %}

    {% else %}

        <p> Você ainda não possui estudos cadastrados.</p>
    {% endif %}

</body>
</html>