<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> agenda de estudos</title>
</head>
<body>
    <h1>Agenda de Estudos de {{ usuario.nome }}</h1>

    <a href="/logout"> Sair</a>
    <!-- Filtros -->
    <div>
        <a href="/agenda?filtro=todos">📚 Todos</a>
        <a href="/agenda?filtro=pendentes">⏳ Pendentes</a>
        <a href="/agenda?filtro=concluidos">✅ Concluídos</a>
    </div>

    <h2> Adicionar Estudo </h2>
    
    <form action= "/adicionar_estudo" method= "POST">
        <label for="materia"> Matéria: </label>
        <input type="text" 
                    id="materia" 
                    name="materia" 
                    placeholder="Ex: Matemática" required>

        <br><br>

        <label for="descricao"> Descrição: </label>
        <input type ="text"
               id="descricao" 
               name="descricao" 
               placeholder="Ex: Prova de Matematica">

        <br><br>

        <label for="data"> Data: </label>
        <input type="date" 
               id="data" 
               name="data">

        <br><br>

        <label for="secao"> Seção/Tipo: </label>
        <input type="text" 
               id="secao" 
               name="secao" 
               placeholder="Ex: Faculdade, Música, etc.." required>

        <br><br>

        <button type="submit"> Adicionar estudo </button>
    </form>

    <hr>

    <h2> Meus Estudos </h2>

    {% if estudos %}

        {% for estudo in estudos %}

        {% if estudo.atrasado %}
            <strong> ⚠️ ATRASADO! </strong>
        {% endif %}

            <div>
                <h3>{{ estudo.materia }}</h3>

                <p>{{ estudo.descricao }}</p>

                <p>Data {{ estudo.data }}</p>

                <p>
                    Concluído:
                    {% if estudo.concluido %}
                        sim
                    {% else %}
                        Não
                    {% endif %}
                </p>
                {% if not estudo.concluido %}

                <form action="/concluir_estudo/{{ estudo.id }}" method="POST">
                    <button type="submit"> Marcar como concluído </button>
                </form>
            {% endif %}
                <form action="/excluir_estudo/{{ estudo.id }}" method="POST">
                    <button type="submit"> Excluir estudo </button>
                </form>

            </div>

            <hr>

        {% endfor %}

    {% else %}

        <p> Você ainda não possui estudos cadastrados.</p>
    {% endif %}

</body>
</html>