<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda de Estudos</title>
</head>
<body>
    <h1> Bem-Vindo a Agenda de Estudos!</h1>

    <p>Organize seus estudos, acompanhe suas tarefas e mantenha sua rotina de aprendizado em ordem.</p>

    <p>Para começar, crie uma conta ou entre em uma conta existente.</p>

    <a href="/cadastro">
        Criar minha conta
    </a>

    <br><br>

    <a href="/login">
        Já tenho uma conta
    </a>

</body>
</html>